{% extends "layout.html" %}

{% block content %}
  	<div>
  		<h2>Hotels</h2>
  		<select class="form-control">
  			{% for hotel in all_hotels %}
  				<option>{{hotel.name}}</option>			
  			{% endfor %}
  		</select>
  	</div>

  	<div>
  		<h2>Restaurants</h2>
  		<select class="form-control">
  			{% for restaurant in all_restaurants %}
  				<option>{{restaurant.name}}</option>			
  			{% endfor %}
  		</select>
  	</div>

  	<div>
  		<h2>Activities</h2>
  		<select class="form-control">
  			{% for activities in all_activities %}
  				<option>{{activities.name}}</option>			
  			{% endfor %}
  		</select>
  	</div>
{% endblock %}


